$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 5;

.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    overflow: hidden;
    transition: all .4s linear; 
    @include min-media('md'){
        padding: 32px 0;
    }
    @include media('md'){
        padding: 16px 0;
        align-items:center;
        background-color: $primery-color;
        height: 64px;
        transition: all 0.7s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
    }
    &_bg{
        @include min-media('md'){
            background-color: rgba($color: $primery-color, $alpha: .9);
            padding: 17px 0;
            & .nav__logo svg.styled{
                color:#FFF;
            }
            & .menu__item a.styled{
                color:#FFF; 
            }
        }
    }
    &.menu-mobile-opened {
        height: 100%;
        // background-color:#142246;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
        .burger-container {
            transform: rotate(90deg);
            #burger {
                .bar {
                    transition: transform 0.4s $cubic;
                    transition-delay: 0.2s;
                    &.topBar {
                        transform: translateY(4px) rotate(45deg);
                    }
                    &.mdlBar {
                        visibility: hidden;
                    }
                    &.btmBar {
                        transform: translateY(-2px) rotate(-45deg);
                    }
                }
            }
        }
        .menu-mobile {
            .menu-mobile__item {
                transform: scale(1) translateY(0px);
                opacity: 1;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.07 * $i+0.2}s;
                    }
                }
            }
        }
        & .callback{
            opacity: 1;
        }
    }
}
.nav{
    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    &__logo svg{
        color:#fff;
        transition: color .3s ease-in-out;
        @include media('md'){
            max-width: 97px;
        }
        &.styled{
            color:$main-color;
        }
    
    }
}
.menu{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    @include media('md'){
        display: none;
    }    
    &__item{
        a{
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            color:#fff;
            &:hover{
                color:#EA382F;
                // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                // -webkit-text-stroke: 1px rgb(29, 26, 26);
                // font-family: Inter; color: #EA382F;
            }
        }
        .styled{
            color:$main-color;
        }

    }
    &__item:not(:last-child){
        margin-right: 30px;
        @include media('md'){
            display: none;
        }
    }
}

// Burger button
.burger-container {
    position: relative;
    display: inline-block;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s $cubic;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    @include min-media('md'){
        display: none;
    }
    #burger {
        width: 29px;
        height: 8px;
        position: relative;
        display: block;
        margin: -4px auto 0;
        top: 50%;
        .bar {
            width: 100%;
            height: 3px;
            border-radius: 8px;
            display: block;
            position: relative;
            background: #FFF;
            transition: translateY 0.3s $cubic, rotate 0.3s $cubic, visibility .1s $cubic ;
            transition-delay: 0s;
            &.topBar {
                transform: translateY(-5px) rotate(0deg);
            } 
            &.mdlBar {
                transform: translateY(0px) rotate(0deg);
            }
            &.btmBar {
                transform: translateY(5px) rotate(0deg);
            }
        }
    }
}
.menu-mobile {
    position: relative;
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 0 20px 6% 20px;
    &__wrapper{
        position: relative;
        display: flex;
        height: 100vh;
        width: 100%;
        align-items: center;
        &>div{
            width: 100%;
        }
        & .callback{
            margin: 0 10px;
            box-sizing: border-box;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        @include min-media('md'){
            display: none;
        }
    }
    .menu-mobile__item {
        padding-bottom: 16px;
        margin-bottom: 16px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s $cubic, opacity 0.6s $cubic;
        &:not(:last-child){
            border-bottom: 1px solid rgba(255, 255, 255, .4);

        }
        @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
                transition-delay: #{0.56 - ($i * 0.07)}s;
            }
        }
        a {
            display: block;
            position: relative;
            color: #FFF;
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            width: 100%;
        }
    }
}
