.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    @include media('md'){
        display: flex;
        flex-direction: column;
        padding-top: 64px;
    }
    &__logo{
        margin-bottom: 20px;
        @include media('md'){
            display: none;
        }
    }
    &__title{
        font-size: 32px;
        text-transform: uppercase;
        color:#fff;
        font-weight: 700;
        line-height: 39px;
        margin-bottom: 16px;
        @include media('md'){
            margin-bottom: 24px;
            padding: 0 20px;
        }
    }
    &__text{
        color:#fff;
        margin-bottom: 36px;
        @include media('md'){
            display: none;
        }
    }
    &__btn{
        @include min-media('md'){
            visibility: hidden;
            // height: 0;
            // transition: all .3s ease;
            // font-size: 0;
        }
        &-wrapper{
            height: 52px;          
        }
      
    }
    &-section{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        @include media('md'){
            display: none;
        }
        &.active{
            z-index: 1;
        }
    }
    &-section__row {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    &-col{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        &:hover{
            .hero__btn{
                visibility: visible;
                height: 52px;
                font-size: 16px;
            }
            .hero__col_wrapper{
                z-index: 3;
            }
        }
        &__wrapper{
            @include media('md'){
                text-align: center;
            }
            @include min-media('md'){
                max-width: 310px;
            }
        }
        
    }
    &-col__left{
        background-color: $primery-color;
        text-align: right;
        align-items: flex-end;
        @include min-media('lg'){
            padding-right:32px;
        }
        @include media('lg'){
            padding-right:20px;
        }
        .hero__logo{
            transform: rotate(90deg);
            margin-right: -10px;
        }
    }
    &-col__middle{
        background-color: $primery-medium-color;
        text-align: center;
        justify-content: center;
        align-items: center;
        @include min-media('md'){
            padding: 0 16px;
        }
        .hero-col__wrapper{
            max-width: 355px;
        }
       
    }
    &-col__right{
        background-color: $primery-light-color;
        box-sizing: border-box;
        align-items: flex-start;
        &:hover{
            .hero-col__wrapper{
                display: none;
            }
            .hero-col__hover{
                display: block;
            }
        }
        .hero__text{
            padding-bottom: 49px;
        }
        .hero-col__wrapper{
            @include min-media('lg'){
                max-width: 300px;
                padding-left: 32px;
            }
            @include media('lg'){
                padding-left: 20px;
            }
        }
        .hero__logo{
            transform: scaleY(-1) rotate(-90deg);
            margin-left: -10px;
        }
    }
    &-col__hover{
        display: none;
        width: 100%;
    }
    &-col__content{
        position: relative;
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include min-media('lg'){
            padding-left: 32px;
        }
        @include media('lg'){
            padding-left: 20px;
        }
        &:nth-child(1){
            background-color:  $primery-light-color;                
        }
        &:nth-child(2){
            background-color:  #E1A746;                
        }
        .hero__title{
            width: 400px;
        }
        .hero__logo, .hero__content_btn{
            visibility: hidden;
            transition: visibility .1s ease;
        }
        &:hover{
            .hero__logo, .hero__content_btn{
                visibility: visible;
            }
        }
    }
    &-mobile{
        height: 33.33vh;
        display: flex;
        align-items:center;
        justify-content: center;
        &__wrapper{
            text-align: center;
            max-width: 350px;
        }
        &__top{
            background-color: $primery-color;
        }
        &__middle{
            background-color: $primery-medium-color;
        }
        &__down{
            background-color: $primery-light-color;
        }
    }
    &-modal{
        &__list{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        &__item:not(:last-child){
            padding-bottom: 16px;
            border-bottom: 1px solid $primery-color;
            margin-bottom: 16px;
        }
        &__link{
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            color:$primery-color;
            display: block;
        }
    }
    &-background{
        &__wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
        &__left{
        position: absolute;
        height: 503px;
        width: 809px;
        background-image: url("~/assets/img/table_games.png");
        background-repeat: no-repeat;
        left: 20px;
        top: 50%;
        opacity: 0;
        transform: scale(1.7) translateY(-50%);
            &.animation-background{
                opacity: 1;
                left: -70px;
                transform: scale(.75) translateY(-50%);
                @include min-media('lg'){
                    left: -10px;
                    transform: scale(.9) translateY(-50%);
                }
                @include min-media('xl'){
                    left: 24px;
                    transform: scale(1) translateY(-50%);
                }

            }
           
        }
        &__middle-1 {
            position: absolute;
            height: 646px;
            width: 604px;
            background-image: url("~/assets/img/card_game1.png");
            background-repeat: no-repeat;
            transition: all .3s linear;
            top: 70%;
            right: -100%;
            transform: translateY(-50%);
            &.animation-background{
                right: -55%;
                top: 50%;
                transform: scale(.7) translateY(-75%);
                @include min-media('lg'){
                    transform: scale(.9) translateY(-55%);
                    right: -45%;
                }
                @include min-media('xl'){
                    transform: scale(1) translateY(-50%);
                    right: -20%;
                }
    
            }
        }
        &__middle-2 {
            position: absolute;
            height: 521px;
            width: 517px;
            background-image: url("~/assets/img/card_game2.png");
            background-repeat: no-repeat;
            transition: all .37s linear;
            right: -100%;
            bottom: 10%;
            &.animation-background{
                right: -70%;
                bottom: -10%;
                transform: scale(.7) translateY(-32%);
                @include min-media('lg'){
                    right: -60%;
                    bottom: -40%;
                    transform: scale(.9) translateY(-60%);
                }
                @include min-media('xl'){
                    right: -37%;
                    bottom: -40%;
                    transform: scale(1) translateY(-50%);
                }
    
            }
        }
        &__middle-3 {
            position: absolute;
            height: 756px;
            width: 727px;
            background-image: url("~/assets/img/card_game3.png");
            background-repeat: no-repeat;
            transition: all .37s linear;
            transform: translateY(-50%);
            top: 70%;
            left: -100%;
            &.animation-background{
                left: -73%;
                top: 50%;
                transform: scale(.7) translateY(-65%);
                @include min-media('lg'){
                    transform: scale(.9) translateY(-40%);
                    left: -55%;
                    top: 50%;
                }
                @include min-media('xl'){
                    transform: scale(1) translateY(-35%);
                    left: -30%;
                    top: 50%;
                }   

        }
        }
        &__right-1{
            position: absolute;
            height: 595px;
            width: 910px;
            background-image: url("~/assets/img/adult_events.png");
            background-repeat: no-repeat;
            background-size: cover;
            visibility: hidden;
            top: 40%;
            right: -100px;
            opacity: 0;
            transform: scale(1.7) translateY(-50%);
            &.animation-background{
                opacity: 1;
                top: 50%;
                visibility: visible;
                right:-130px;
                transform: scale(.68) translateY(-50%);
                @include min-media('lg'){
                    right: -50px;
                    transform: scale(.83) translateY(-50%);
                }
                @include min-media('xl'){
                    right: 24px;
                    transform: scale(1) translateY(-50%);
                }
            }
        }
        &__right-2{
            position: absolute;
            height: 639px;
            width: 901px;
            background-image: url("~/assets/img/children_events.png");
            background-repeat: no-repeat;
            visibility: hidden;
            top: 60%;
            right: -100px;
            transform: scale(1.7) translateY(-50%);
            opacity: 0;
            &.animation-background{
                right: -130px;
                opacity: 1;
                top: 50%;
                visibility: visible;
                transform: scale(.68) translateY(-50%);
                @include min-media('lg'){
                    right: -20px;
                    transform: scale(.9) translateY(-50%);
                }
                @include min-media('xl'){
                    right: 24px;
                    transform: scale(1) translateY(-50%);
                }
            }
        }
    }
    &__indicators{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom:10%;
        z-index: 3;
        @include media('md'){
            display: none;
        }
        &-item{
            height: 12px;
            width: 12px;
            border-radius:50%;
            display: inline-block;
            background-color: $primery-medium-color;

            position: relative;
            &::after{
                content:'';
                background-color: rgba($color: $primery-medium-color, $alpha: 0.2);
                display: none;
                position: absolute;
                height: 24px;
                width: 24px;
                border-radius:50%;
                left: 50%;
                top: -50%;
                transform: translateX(-50%);
            }
            &:not(:last-child){
                margin-right: 22px;
            }
            &.active::after{
                display: block;
            }
        }
    }
    &__indicators_white{
        .hero__indicators-item{
            background-color: #fff;
            &::after{
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
        }
    }
}
.col-1-3 {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
    &.active{
        z-index: 1;
    }
}
.col-2-3 {
    display: flex;
    flex: 2;
    height: 100vh;
    overflow: hidden;
    &.active{
        z-index: 1;
        visibility: visible;

    }
}
