// Colors
$main-color:#DB3A30;
$primery-color:#1E2F5A;
$primery-medium-color: #355197;
$primery-light-color: #496FD0;;

$border-color:#fff;

// Fonts 
$main-font: 'Inter';
$main-font-size:16px;
$path-fonts: '../fonts/';

// Global
$main-width: 1186px;
$border-radius:8px;

// Sizes beack-points
$beack-points: ("lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px);
